
@charset "utf-8";
@import "~bulma/bulma";

/*=============================================
=            #PAGINATIONS            =
=============================================*/

.pages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: $size-4;
  margin-bottom: $size-4;
}

.paginate-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paging-input {
  display: flex;
  align-items: center;

  input {
    width: $size-1;
    margin-left: $size-6;
    margin-right: $size-6;
  }
}

/*=====  End of #PAGINATIONS  ======*/