nav.navbar.is-primary(role="navigation", aria-label="main navigation")
  .container
    .navbar-brand
      a.navbar-item(href="/") Casting Call
      a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")
    .navbar-menu
      .navbar-start
        a.navbar-item(href="/") Home