script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
script.
  window.jQuery || document.write('<script src="js/vendor/jquery-3.1.1.min.js"><\/script>')
script(src="/dist/main.bundle.js")